*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

h1 {
    margin: 0 0 30px;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

p {
    margin: 0 0 20px;
}

h2 {
    margin: 0 0 30px;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2F281E;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    }

.row {
    /*overflow: hidden;*/
    margin: 0 -20px;
}

.col {
    /*float: left;*/
    /*width: 25%;*/
    padding: 0 20px;
}

.hero-section .col {
    width: 50%;
}

.title-holder {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 99px;
    margin-bottom: 50px;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
    padding: 13px 43px;
    width: 100%;
    max-width: 180px;
    display: inline-block;
    
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn:hover {
    background-color: #eebc49;
}

.design-section .btn-holder {
    text-align: center;
}

.icon-holder {
    margin: 0 0 30px;
    border-radius: 15px;
}

.text-holder {
    font-size: 16px;
    line-height: 26px;
}

.design-section {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0 0 74px;
    margin-bottom: 100px;
}

.nav-btn .btn-in {
    border: 1px solid #BCD0E5;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 13px 26px;
    font-weight: 600;
    margin-right: 32px;
    font-size: 16px;
    line-height: 20px;
    color: #2F281E;
    text-decoration: none;
}

.btn-in:hover {
    background-color: #BCD0E5;
    transition: ease-in-out 0.3s;
}

.nav-btn .btn-up {
    border: 1px solid;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 13px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: #FF9900;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
}

.btn-up:hover {
    background-color: #FAB005;
    transition: all ease-in-out 0.3s;
}

.header {
    padding: 17px 0;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.nav {
    padding: 26px 0;
}

.nav-list {
    list-style: none;
    text-align: center;
    margin: 0 -10px;
}

.nav-list li {
    display: inline-block;
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #2F281E;
    transition: color ease-in-out 0.3s;
}

.nav-link.active,
.nav-link:hover {
    color:  #FF9900;
}

.hero-section .row {
    display: flex;
    flex-wrap: wrap;
}



.design-section .row {
    display: flex;
    width: 100%;
}

.design-professionals .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
}

.design-professionals:nth-child(odd) .row {
flex-direction: row-reverse;
}